.book-list h3 {
    text-align: center;
    margin-bottom: 25px;
}

.book-list .book {
    display: flex;
}


.book-list img {
    width: 280px;
}

.book-list .book-info {
    width: cal(100% - 320px);
    margin-left: 40px;
}

.book-list .book + .book {
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid #ccc;
}
.book-gp .slick-dots {
    display: flex !important;
    margin: -1px;
    padding: 0;
    margin-top: 20px;
    justify-content: center;
}

.book-gp .slick-dots li {
    width: 7px;
    padding: 0 12px;
    list-style: none;
}


.book-gp .slick-dots li button {
    padding: 0;
    border: 0;
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    background: #5d5c5c;
}